Personal_AI_Assistant_with_Telegram_Voice_and_Text.json
{
  "name": "Personal AI Assistant with Telegram Voice and Text",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').first().json.message.from.id }}"
      },
      "id": "d2287bea-de47-4180-8ee6-55d4ab1a89da",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2300,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"
        }
      },
      "id": "fa955731-86f6-4e4d-8604-dab5f52dee87",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2420,
        360
      ],
      "typeVersion": 2.1,
      "webhookId": "8a77bffc-8132-43d9-bb78-07bd733cf85d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DjVfYpAFB2T3DUNN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "46511f47-1687-4cbe-ae41-ceb205ed1f11",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2160,
        360
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "iGFO2vyFohoInXjj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "64fe44db-af19-43eb-9ff1-de0a72a9e645",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1800,
        -120
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "AqjxuqlaRKlNcqui",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "e35c04ff-a050-4564-8c1b-5b22b556872f",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2940,
        -160
      ],
      "typeVersion": 1.1,
      "webhookId": "3de9ac54-27a7-4312-82ca-170f5a694731",
      "credentials": {
        "telegramApi": {
          "id": "AqjxuqlaRKlNcqui",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "5bd1788a-3d08-4eb3-8e03-3ce82f44d2a7",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2680,
        -80
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "iGFO2vyFohoInXjj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}"
      },
      "id": "8105c39f-9e87-44c4-9215-b3777f0b4164",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2440,
        0
      ],
      "typeVersion": 1.1,
      "webhookId": "afd661e1-cf8b-498b-8264-8bcbd656b037",
      "credentials": {
        "telegramApi": {
          "id": "AqjxuqlaRKlNcqui",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- When fetching emails, filter out any promotional emails. \n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- When sending mails replace [Your Name] with \"Mikey\"\n- Always write date or time in locale format\n- Use Contact database to identify anyone's email address or phone number\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away"
        }
      },
      "id": "759b975f-d17c-4386-a5b3-12413f0361f4",
      "name": "AI Assistant 👩🏻‍🏫",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2600,
        120
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IVTZfgefIxabktIYXeJ80cC2PvhkXnpCfqBoUOv3xq0",
          "mode": "list",
          "cachedResultName": "Contact Dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVTZfgefIxabktIYXeJ80cC2PvhkXnpCfqBoUOv3xq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IVTZfgefIxabktIYXeJ80cC2PvhkXnpCfqBoUOv3xq0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2540,
        360
      ],
      "id": "8cda2c2d-82bf-4222-9b01-3f6c46267088",
      "name": "Contact Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5Mp0VzYAZZvx647V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\", \"the email address we are sending to\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2660,
        360
      ],
      "id": "bbe843f0-e79e-4f0d-9cc4-66e1b94fc7e5",
      "name": "Send Gmail",
      "webhookId": "49d07191-b285-4a7c-93bf-c7d2905fa582",
      "credentials": {
        "gmailOAuth2": {
          "id": "DjVfYpAFB2T3DUNN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mypersonalassistant16@gmail.com",
          "mode": "list",
          "cachedResultName": "mypersonalassistant16@gmail.com"
        },
        "options": {
          "timeMin": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
          "fields": "=items(summary, start(dateTime))"
        }
      },
      "id": "c70236ea-91ab-4e47-b6f6-63a70ede5d3c",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2800,
        360
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMzPpo68AxoD9V99",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mypersonalassistant16@gmail.com",
          "mode": "list",
          "cachedResultName": "mypersonalassistant16@gmail.com"
        },
        "start": "={{ $fromAI('startDateTime') }}",
        "end": "={{ $fromAI('endDateTime') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('eventSummary') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2940,
        340
      ],
      "id": "ae8cb9f2-4a7e-4d79-a3e2-aed8780f9f71",
      "name": "Create Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMzPpo68AxoD9V99",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io//v1/text-to-speech/NHRgOEwqx5WZNClv5sat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_6f0849caeb749ca081ddda34ee8c4d561ef6e89d564de94a"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\": \"{{ JSON.stringify($json.message.content).replace(/(^\\\"|\\\"$)/g, '')}}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        60
      ],
      "id": "57e0cb94-e565-4be8-8987-973189d80aa9",
      "name": "Create Audio",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "data.mpeg"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3340,
        -80
      ],
      "id": "b07e7485-ed9b-4a47-8b61-6993ca5d46cd",
      "name": "Send Audio",
      "webhookId": "f65ec601-8190-4be2-a1d0-b816fbe831d4",
      "credentials": {
        "telegramApi": {
          "id": "AqjxuqlaRKlNcqui",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Summarize this incoming information: {{ $json.output }}\n\nOutput only plain text, there should be no markdown formatting or any symbols.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2920,
        60
      ],
      "id": "7d067b53-6070-493c-886f-b99c64a81757",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "iGFO2vyFohoInXjj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieves information about projects"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        3040,
        260
      ],
      "id": "2a431dff-c5fd-4f2e-9fc4-7f1405378f57",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3360,
        420
      ],
      "id": "1364af3b-5908-49d3-a839-d9beb1676c19",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "iGFO2vyFohoInXjj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c35fe746-f10b-454f-856d-b8b294f94e12",
              "leftValue": "={{ [5625296417, 1339433455] }}",
              "rightValue": "={{ $json.message.chat.id }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        -120
      ],
      "id": "c6479768-7a22-4afb-8b58-83a24fab714b",
      "name": "isNotAuthorized"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d3a9854-a943-4dae-b2d0-be998b45b8cb",
              "name": "output",
              "value": "You are not allowed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -120
      ],
      "id": "d3fecbe8-5dd6-49bf-952d-88281ded5c63",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b67a2a93-517b-469e-aaa4-32c422710743",
      "name": "initialize text",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        120
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5311866a-13f2-4652-9314-d3602bd13746",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "155c8ec0-faf6-4b3b-b61b-3e77f5461081",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "97e20dca-052e-455d-8b15-2c572b37c8a4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2020,
        120
      ],
      "id": "a27e2151-d603-42e4-bc17-710000c2390b",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2180,
        180
      ],
      "id": "3072f374-ec19-4621-b504-016bb599e934",
      "name": "Telegram1",
      "webhookId": "17932f83-94f5-4440-81a6-74bd5b7f3c66",
      "credentials": {
        "telegramApi": {
          "id": "AqjxuqlaRKlNcqui",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2400,
        180
      ],
      "id": "d32d4744-ba28-4324-86a1-7b6eba4198d3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mongoCollection": {
          "__rl": true,
          "value": "embeddings",
          "mode": "list",
          "cachedResultName": "embeddings"
        },
        "vectorIndexName": "sample",
        "options": {
          "namespace": "demo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.1,
      "position": [
        3080,
        400
      ],
      "id": "0bf834e5-d9e4-4795-99bf-5eedb660a4a9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "PIx5t74FJTREdmfQ",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3000,
        520
      ],
      "id": "baa5e7cf-c7ca-4504-bf8a-fc206ca5d3fa",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "iGFO2vyFohoInXjj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "mypersonalassistant16@gmail.com",
          "mode": "list",
          "cachedResultName": "mypersonalassistant16@gmail.com"
        },
        "triggerOn": "eventStarted",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        1960,
        280
      ],
      "id": "a967a887-5ca6-4e4e-bba9-7637725b25de",
      "name": "Calendar Event Start Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZMzPpo68AxoD9V99",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "isNotAuthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant 👩🏻‍🏫": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Database": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Audio": {
      "main": [
        [
          {
            "node": "Send Audio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Create Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "isNotAuthorized": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "initialize text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initialize text": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Event Start Trigger": {
      "main": [
        [
          {
            "node": "AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7cabf9d-7bd7-42b6-a4cc-26bce5bc0639",
  "meta": {
    "templateId": "2462",
    "templateCredsSetupCompleted": true,
    "instanceId": "f7bdea5eb7828e8b8824fa0a40e35c02f12a81ab0a2b5337b10b552b0fc8cac3"
  },
  "id": "KntjBbP5uNGJijYL",
  "tags": []
}